:root {
	--mmbp-modal-background-color: #ffffff;

	--mmbp-progress-circle-current-color: rgba(0, 124, 186);
	--mmbp-progress-circle-complete-color: rgba(0, 124, 186, 0.3);
	--mmbp-progress-circle-unfinished-color: #ffffff;

	--mmbp-dimensions-piece-number-color: #999999;

	--mmbp-animated-svg-checkmark-curve: cubic-bezier( 0.650, 0.000, 0.450, 1.000 );
	--mmbp-animated-svg-checkmark-color: #4CAF50;
}