@import './progress';

.background-process {
	width: 100%;
	padding: calc(24px);
}

.background-process {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: calc(8px);
	justify-content: space-between;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	border-color: rgba(0, 0, 0, 0.1);
	border-right-color: rgba(0, 0, 0, 0.1);
	border-left-color: rgba(0, 0, 0, 0.1);

	.background-process {
		padding-left: 2.0rem;
		border: 0;
	}

	&:last-child {
		border-bottom: none;
	}

	.background-process-name {
		font-size: 18px;
		font-weight: 500;
		margin-left: 3px;
	}

	.child {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);

		&:last-child {
			border-bottom: none;
		}

		.process-name {
			font-size: 15px;
		}

		.process-id {
			margin-left: 7px;
			margin-top: 2px;
		}
	}

	.background-process-details-icon {
		cursor: pointer;
	}

	&.cancelled {
		opacity: 0.4;
		pointer-events: none;
	}

	.summary {
		margin-left: 3px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		gap: 8px;
	}

	.details {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: calc(12px) calc(16px);
		padding-bottom: 0;

		&.closed {
			display: none;
		}
	}
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes slideDown {
	0% { height: 0; }
	100% { height: 100%; }
}

@keyframes slideUp {
	0% { height: 100%; }
	100% { height: 0; }
}